-r requirements-utils.txt
-r requirements-logger.txt
-r requirements-aws-clients.txt
-r requirements-async-aws-clients.txt
-r requirements-event-models.txt
-r requirements-lambda-decorators.txt
-r requirements-hubspot.txt
-r requirements-service-discovery.txt
-r requirements-requests.txt
-r requirements-mongo.txt
-r requirements-documentation.txt
-r requirements-slack.txt
-r requirements-enrichment.txt
-r requirements-test-utils.txt
